// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sep{
  margin-left: 2em;	
}
.back-btn{
  margin-left: 4em;	
}
.push-right-form{
  margin-left:6.1em;
  margin-top: 1em;		
}